@CHARSET "UTF-8";
div.container {
	padding: 5px;
	width: 1149px;
	border: 7px solid gray;
	margin-left: 65px;
	margin-right: 124px;
	overflow: hidden;
	height: 618px;
}

header {
	padding: 1em;
	color: white;
	background-color: gray;
	clear: left;
}

header h1 {
	font-size: 33px;
	padding-left: 20px;
	text-align: center;
}

header p {
	margin-top: -24px;
	font-size: 27px;
}

footer {
	padding: 1em;
	color: #999999;
	background-color: gray;
	clear: left;
	font-family: Arial, Helvetica, sans-serif;

}
nav {
	float: left;
	max-width: 232px;
	margin-top: 30px;
	margin-left: 68px;
}


#menu a {

	background-color: #666666;
	border: 1px solid white;
	margin-left: 73px;
	width: 958px;
	height: 36px;
	margin-top: 17px;
	line-height: 30px;
	text-align: center;
	overflow: hidden;

}

#menu  a {
	text-decoration: none;
	color: white;
	padding-top:10px;
	display: block;
	font-size: 20px;
	margin-top:17px;
	overflow: hidden;
}

#menu  a:hover {
	background-color: #eeeeee;
	border: 1px solid white;
	margin-left: 73px;
	width: 958px;
	height: 36px;
	margin-top: 17px;
	line-height: 30px;
	text-align: center;
	overflow: hidden;

}
#menu h2{
	padding-left: 99px;
	padding-bottom: 24px;
	margin-top: -65px;

}
#mssg{
	padding-left: 99px;
	padding-bottom: 24px;
	margin-top: -65px;

}

article {
	margin-left: 608px;
	border-left: 0px solid gray;
	overflow: hidden;
	margin-top: 30px;

}